/* Sidebar i venstre side */
.sidenav_venstre {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 190px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav_venstre a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

/* When you mouse over the navigation links, change their color */
.sidenav_venstre a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 160px;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav_venstre {
        padding-top: 15px;
    }

    .sidenav_venstre a {
        font-size: 18px;
    }
}




/* Knap til at lave pip i venstre sidebar */
#writePipButton {
    margin-top: 30px;
    margin-left: 15px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

/* Logo i venstre sidebar */
#logo {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    margin-left: 15px;
}






/* sidebar i højre side */

.sidenav_højre {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 400px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    background-color: #111;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}


/* Søgefunktion i højre side */
#search {
    margin-left: 15px;
    height: 20px;
    width: 180px;
}


/* Populære pips i højre side */
.populære_pips {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 13px;
    color: #818181;
    font-family: Arial, Helvetica, sans-serif;
}



/* Folk du vil synes om (følg) i højre side */
.følg {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 13px;
    color: #818181;
    font-family: Arial, Helvetica, sans-serif;
}

#billede_cecilie {
    width: 50px;
    height: 60px;
}

#navn {
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    font-family: Arial, Helvetica, sans-serif;
}

#brugernavn {
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    font-family: Arial, Helvetica, sans-serif;
}

#følg_knap {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
